
body
{
    margin: 3px;
    padding-top: 20px;
}

.jfl-appBoady
{

    padding-top: 70px;
}
/* CSS used here will be applied after bootstrap.css */

.btn-info
{
	border-width : 10px;
    color		 : white;
  height:100%;
  width:100%;
    	/*border-color : grey;

  background-color:grey;
  */
	font-size : 70px;
}


body{margin:40px;}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px;
}

.test{
    border-color : grey;
    border-width : 8px;
}


.btn-default {
    top: 25%;
    left:25%; 
    color: #999; 
    background: #fffccc; 
} 